<div class="container-fluid page-header py-5 px-5">
  <div class="row">
    <div class="col px-5">
      <h1>Blog</h1>
    </div>
  </div>
</div>
<%# Categories %>
<div class="container mt-3">
  <div class="row">
    <div class="col">
      <ul class="nav nav-pills">

        <li class="nav-item">
          <%= link_to posts_path, class: 'nav-link bg-red text-white p-1 px-2 m-1' do %>
            All Categories<span class="badge badge-light ml-2"></span>
          <% end %>
        </li>

        <% @categories.each do |category| %>
          <li class="nav-item">
            <%= link_to posts_path(:cat => category.id), class: 'nav-link p-1 px-2 m-1' do %>
              <%= category.category %><span class="badge badge-light bg-red ml-2 px-1 mt-1 float-right text-white"><%= category.posts.count %></span>
            <% end %>
          </li>
        <% end %>

      </ul>
    </div>
  </div>
</div>
<%# Pagination %>
<div class="container my-5">
  <div class="row">
    <div class="col pagination flex-wrap pagination-sm">
      <% if @posts.size > 0 %>
        <%= will_paginate @posts, :container => false, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
      <% end %>
    </div>
  </div>
</div>
<%# Posts %>
<div class="container my-5">
  <% @posts.each do |post| %>
    <div class="row">
      <div class="card mb-4">
        <img class="card-img-top" 
          src="<%= url_for post.optimized_image(post.thumbnail,586,180) %>"
          alt="blog post image" />
        <div class="card-body">
          <h5 class="card-title"><%= link_to post.title, post%></h5>
          <p class="card-text"><%= post.body.to_plain_text.truncate_words(50) %></p>
          <small class="text-muted">
            <%= post.updated_at.strftime("%B %-d, %Y") %> by 
            <%= post.user.username %> | <%= pluralize(post.views, "View") %> | <%= pluralize(post.comments.count, "Comment") %>
            <p class="float-right badge badge-dark"><%= post.category.category %></p>
            <% if current_user && (current_user.admin || current_user == post.user)%>
              | <%= link_to "Delete", post, method: :delete %>
            <% end %>
          </small>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%# Pagination %>
<div class="container my-5">
  <div class="row">
    <div class="col pagination flex-wrap pagination-sm">
      <%= will_paginate @posts, :container => false, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
  </div>
</div>
