<p id="notice"><%= notice %></p>



<h1><%= @product.productName %></h1>
<%= image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSOaQJSk_reWHVqYz63_75brluE5XLO3HW4jA&usqp=CAU") %>
<p>
  <h2>Product Details</h2>
  <%= @product.productDescription %>
</p>

<h3>Purchase Price <%= number_to_currency(@product.buyPrice) %></h3>

<%= button_to 'Add to Cart', line_items_path(product_id: @product) %>

<p>
  <strong>More Details</strong><br />
  <%= @product.productName %><br />
  <strong>Productline:</strong><br />
  <%= @product.productLine %><br />
  <strong>Productscale:</strong><br />
  <%= @product.productScale %><br />
  <strong>Productvendor:</strong><br />
  <%= @product.productVendor %><br />
  <strong>Quantityinstock:</strong><br />
  <%= @product.quantityInStock %><br />
  <strong>Msrp:</strong><br />
  <%= number_to_currency(@product.MSRP) %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
