<div class="container-fluid page-header py-5 px-5">
  <div class="row">
    <div class="col px-5">
      <h1>Parts & Accessories</h1>
    </div>
  </div>
</div>
<% if notice %>
    <aside id="notice"><%= notice %></aside>
<% end %>
<p>
  <%= simple_form_for :search, url: store_index_path, method: "GET", html: { class: 'form-inline' } do |f| %>
    <%= f.input :product, input_html: {value: ""}, required: false %>
    <%= f.submit "Search", class: "btn btn-primary btn-med px-5 primary-button" %>
  <% end %>
</p>
<%# Pagination %>
<div class="container my-5">
  <div class="row">
    <div class="col digg_pagination pagination">
      <%= will_paginate @products, :container => false %>
    </div>
  </div>
<div>
<p>
<% @products.each do |product| %>
    <div style="border: 1px #f2f2f2; width: 300px; display: inline-block; background-color: #f2f2f2">

    <% if product.product_image_map.image.attached? %>
      <%= link_to image_tag(product.product_image_map.optimized_image(product.product_image_map.image, 300, 300), title: product.productName, alt: product.productName), product %>
    <% else %>
      <%= link_to image_tag("image_coming_soon.png", class:'comment-avatar', title: "image coming soon", alt: "image_coming_soon"), product %>
    <% end %>
    <div style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden; font-size: 120%">
    <%= link_to product.productName, product %><br />
    </div>
    <%= number_to_currency(product.buyPrice) %>
    <%= button_to 'Add to Cart', line_items_path(product_id: product), class: 'btn btn-primary btn-sm px-1 primary-button' %>
</p>
</div>
<% end %>
</p>
</div>
