<!DOCTYPE html>
<html>
	<head>
		<title>Lugnuts</title>
		<meta charset="UTF-8">
		<meta name=viewport content="width=device-width, initial-scale=1">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<link href="https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed&display=swap" rel="stylesheet">

		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

	</head>

	<body class="<%= controller_name %> <%= action_name %>">
		<header class="">
			<%= render "layouts/header" %>
		</header>

		<div class="">		
			<%# Content %>
			<%= yield %>
		</div>

		<footer class="">
			<%= render "layouts/footer" %>
		</footer>

		<a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top" role="button"><i class="fas fa-chevron-up"></i></a>
		
	</body>

	<%# fontawesome %>
	<script src="https://kit.fontawesome.com/178f84df4b.js" crossorigin="anonymous"></script>

</html>
