<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Lugnuts</title>
		<meta charset="UTF-8">
		<meta name=viewport content="width=device-width, initial-scale=1">
		<meta name="turbolinks-visit-control" content="reload">
		<meta name="google-site-verification" content="yEfkVSccw-FgmtPz0H1Qmck_kyBLDJpp9cAOypi61AQ" />
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%# Google fonts %>
		<link href="https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed&display=swap" rel="stylesheet">

		<%# CSS %>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

		<%# Javascript %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
		
		<%# favicon %>
		<%= favicon_link_tag asset_path('favicon.ico') %>

	</head>

	<body class="<%= controller_name %> <%= action_name %>">
		<header class="">
			<%= render "layouts/header" %>
		</header>

		<div class="">		
			<%# Content %>
			<%= yield %>
		</div>

		<footer class="">
			<%= render "layouts/footer" %>
		</footer>

		<a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top" role="button"><i class="fas fa-chevron-up"></i></a>
		
	<%# fontawesome %>
	<script src="https://kit.fontawesome.com/178f84df4b.js" crossorigin="anonymous"></script>
	
	</body>

</html>
